/* Style for project cards */
.project-card {
  display: flex; /* Use Flexbox for layout */
  align-items: center; /* Vertically center content */
  justify-content: space-between; /* Space between text and image */
  /* padding: 20px; Add some padding inside the card */
  border-radius: 10px; /* Optional: Rounded corners */
  margin-bottom: 20px; /* Space between cards */
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid var(--main-border-color);
  box-shadow: var(--card-shadow);
  transition: all 0.3s ease;
  background-color: var(--card-bg);
  color: var(--text-color);
}

/* Ensure text content takes up space */
.project-card-content {
  flex-grow: 1; /* Allow text to grow and take up space */
  margin-right: 20px; /* Add space between text and image */
}

/* Style for images inside project cards */
.project-card img {
  max-width: 125px; /* Set a maximum width for images */
  height: auto; /* Maintain aspect ratio */
  margin-left: 30px; /* Add space between image and card edge */
}

@media (max-width: 768px) {
  .project-card {
    flex-direction: column; /* Stack content vertically on small screens */
    align-items: flex-start;
  }

  .project-card img {
    margin-left: 0;
    margin-top: 10px;
    max-width: 60px; /* Reduce image size on smaller screens */
  }
}

.project-card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: var(--heading-color);
  margin-top: 20px;
}

.project-card h5 {
  color: var(--text-muted-color);
}
.project-card p {
  font-size: 1em;
  margin-bottom: 0.25rem;
  color: var(--text-muted-color);
}

.project-card p:last-child {
  margin-bottom: 1rem;
}

.project-card a {
  text-decoration: none;
  transition: color 0.3s ease;
  color: var(--link-color);
}

.project-card a:hover {
  text-decoration: underline; /* Underline links on hover */
  opacity: 0.8;
}

#sidebar .site-title {
  font-size: 1.7rem;  /* Adjust this value to make the title larger or smaller */
  font-weight: bold;
}